// Primitives: Color
// -------------------------------

:root {
  --color-saffron-100: #FDFAE3;
  --color-saffron-200: #FBEFB8;
  --color-saffron-300: #F8E084;
  --color-saffron-400: #F5D24F;
  --color-saffron-500: #F1C418;
  --color-saffron-600: #DCB500;
  --color-saffron-700: #A58700;
  --color-saffron-800: #6E5900;
  --color-saffron-900: #4A3B00;

  --color-pale-mint-100: #F8FCFA;
  --color-pale-mint-200: #EAF4ED;
  --color-pale-mint-300: #DBECE0;
  --color-pale-mint-400: #CCE2D2;
  --color-pale-mint-500: #BBD8C5;
  --color-pale-mint-600: #A8C5AF;
  --color-pale-mint-700: #89A590;
  --color-pale-mint-800: #657F6A;
  --color-pale-mint-900: #4C5C52;

  --color-terracotta-100: #FDE8E3;
  --color-terracotta-200: #F9D0BF;
  --color-terracotta-300: #F4B89B;
  --color-terracotta-400: #EF9F74;
  --color-terracotta-500: #D2502E;
  --color-terracotta-600: #B94626;
  --color-terracotta-700: #933C1F;
  --color-terracotta-800: #6D2D17;
  --color-terracotta-900: #4A1D0F;

  --color-neutral-100: #F1F1F1;
  --color-neutral-200: #E6E6E5;
  --color-neutral-300: #D2D2D0;
  --color-neutral-400: #BDBDBB;
  --color-neutral-500: #9C9B97;
  --color-neutral-600: #7A7974;
  --color-neutral-700: #585651;
  --color-neutral-800: #3F3D39;
  --color-neutral-900: #292825;
  --color-neutral-black: #292825;
  --color-neutral-white: #FFFFFF;

  --color-red-100: #FEEAEA;
  --color-red-200: #FCCFCF;
  --color-red-300: #F9A8A8;
  --color-red-400: #F47272;
  --color-red-500: #EF4444;
  --color-red-600: #DC2626;
  --color-red-700: #B91C1C;
  --color-red-800: #991B1B;
  --color-red-900: #7F1D1D;

  --color-orange-100: #FFF1E6;
  --color-orange-200: #FFD8B5;
  --color-orange-300: #FFB870;
  --color-orange-400: #FB923C;
  --color-orange-500: #F97316;
  --color-orange-600: #EA580C;
  --color-orange-700: #C2410C;
  --color-orange-800: #9A3412;
  --color-orange-900: #7C2D12;

  --color-green-100: #EAFBF1;
  --color-green-200: #C7F3D8;
  --color-green-300: #86E7B8;
  --color-green-400: #4ADE80;
  --color-green-500: #22C55E;
  --color-green-600: #16A34A;
  --color-green-700: #15803D;
  --color-green-800: #166534;
  --color-green-900: #14532D;

  --color-blue-100: #E0EAFF;
  --color-blue-200: #B3CCFF;
  --color-blue-300: #80AAFF;
  --color-blue-400: #4D88FF;
  --color-blue-500: #1570EF;
  --color-blue-600: #0E5CD3;
  --color-blue-700: #0948B5;
  --color-blue-800: #073B99;
  --color-blue-900: #062F7A;
}
