// Variables
// -------------------------------

:root {
  // Colors
  --color-brand-primary: var(--color-saffron-500);
  --color-brand-secondary: var(--color-pale-mint-500);

  --color-success: var(--color-green-500);
  --color-danger: var(--color-red-500);
  --color-warning: var(--color-orange-500);
  --color-info: #var(--color-blue-500);

  --color-icon: var(--color-neutral-800);

  --color-link: var(--color-blue-500);
  --color-link-hover: var(--color-blue-400);
  --link-weight: var(--font-weight-medium);

  --color-background: var(--color-neutral-white);
  --color-background-grey: var(--color-neutral-100);

  // Layout
  --container-max-width: 1200px;

  // Typography
  --font-family-base: var(--font-family-rubik);
  --font-family-title: var(--font-family-aleo);

  --font-color-base: var(--color-neutral-800);
  --font-color-title: var(--color-black);

  --font-size-base: var(--font-scale-16);
  --font-size-h1: clamp(var(--font-scale-32), var(--font-scale-40) + 1.25vw, var(--font-scale-48));
  --font-size-h2: clamp(var(--font-scale-24), var(--font-scale-32) + 0.8vw, var(--font-scale-40));
  --font-size-h3: clamp(var(--font-scale-20), var(--font-scale-24) + 0.7vw, var(--font-scale-32));
  --font-size-h4: clamp(var(--font-scale-18), var(--font-scale-20) + 0.7vw, var(--font-scale-24));
  --font-size-h5: clamp(var(--font-scale-16), var(--font-scale-18) + 0.7vw, var(--font-scale-20));
  --font-size-h6: var(--font-scale-18);

  --line-height-heading: 1.2;
  --line-height-base: 1.5;

  // Borders
  --border-color: var(--color-neutral-100);
  --border-base: solid 1px var(--border-color);

  // Interactivity
  --outline: solid 2px var(--color-link-hover);

  // Transitions
  --transition-duration: 0.15s;
  --transition-timing: ease-in-out;
}
