/* Component: Site footer */

@use 'abstracts/mixins';

$base_class: 'c-site-footer';

.#{$base_class} {
  margin-block-start: var(--space-96);
  padding-block: var(--space-32);
  background-color: var(--color-background-grey);

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--space-32);
  }
}

.#{$base_class} .c-menu {
  font-size: var(--font-scale-14);

  .c-menu__link {
    font-weight: var(--font-weight-regular);
  }
}
