/* Component: Site header */

@use 'abstracts/mixins';

$base_class: 'c-site-header-mobile';

.#{$base_class} {
  margin-block: var(--space-16);
  padding-bottom: var(--space-16);
  border-bottom: 1px solid var(--color-neutral-200);

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--space-32);
  }

  &__mobile-navigation-toggle {
    position: fixed;
    top: 0;
    right: var(--space-16);
    z-index: 1000;

    button {
      padding-inline-start: mixins.ptr(90);
      background-image: url('assets/background.svg');
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 102px 52px;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__mobile-navigation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-background-secondary);
    z-index: 999;
    padding: var(--space-16);
  }
}

// Main menu

.#{$base_class}__main-navigation .c-menu__list {
  margin-block: var(--space-32);

  .c-menu__item {
    border-color: var(--color-pale-mint-500);
    text-align: center;
    font-size: var(--font-scale-18);
  }
}

// Language switcher

.c-site-header-mobile__language-switcher {
  padding-block: var(--space-8);
  // border-bottom: solid 1px var(--color-pale-mint-500);

  .c-icon {
    transform: translateY(2px);
  }
}

// User menu

.#{$base_class}__user-menu {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space-16);
  padding-block: var(--space-8);
  // border-bottom: solid 1px var(--color-pale-mint-500);
  margin-bottom: var(--space-32);

  .c-icon {
    transform: translateY(2px);
  }

  .c-menu__list {
    .c-menu__item {
      .c-menu__link {
        padding: 0;
        border: 0;
        font-weight: var(--font-weight-regular);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
