// Component: Logo
// --------------------------------------------------

@use "abstracts/mixins" as mixins;

$base_class: "ack-logo";

.#{$base_class} {
  display: inline-block;

  svg {
    display: block;
    // fallback size
    width: 80px;
    height: auto;
  }
}

// Variants: Vertical

.#{$base_class}--vertical {
  border-radius: 100%;

  svg {
    width: 80px;
    height: 80px;
  }

  &.#{$base_class}--small svg {
    width: 60px;
    height: 60px;
  }

  &.#{$base_class}--medium svg {
    width: 80px;
    height: 80px;
  }

  &.#{$base_class}--large svg {
    width: 120px;
    height: 120px;
  }

  &.#{$base_class}--huge svg {
    width: 140px;
    height: 140px;
  }
}

.#{$base_class}--vertical.#{$base_class}--primary {
  background: var(--colorPrimary);

  svg {
    fill: var(--colorBlack);
  }
}

.#{$base_class}--vertical.#{$base_class}--secondary {
  background: var(--colorSecondary);

  svg {
    fill: var(--colorBlack);
  }
}

.#{$base_class}--vertical.#{$base_class}--black {
  background: var(--colorBlack);

  svg {
    fill: var(--colorWhite);
  }
}

.#{$base_class}--vertical.#{$base_class}--white {
  background: var(--colorWhite);

  svg {
    fill: var(--colorBlack);
  }
}

// Variants: Horizontal

.#{$base_class}--horizontal {
  svg {
    width: 120px;
    height: auto;
  }

  &.#{$base_class}--small {
    svg {
      width: 80px;
      height: auto;
    }
  }

  &.#{$base_class}--medium {
    svg {
      width: 120px;
      height: auto;
    }
  }

  &.#{$base_class}--large {
    svg {
      width: 200px;
      height: auto;
    }
  }

  &.#{$base_class}--huge {
    svg {
      width: 240px;
      height: auto;
    }
  }
}

.#{$base_class}--horizontal.#{$base_class}--primary {
  svg {
    fill: var(--colorPrimary);
  }
}

.#{$base_class}--horizontal.#{$base_class}--secondary {
  svg {
    fill: var(--colorSecondary);
  }
}

.#{$base_class}--horizontal.#{$base_class}--black {
  svg {
    fill: var(--colorBlack);
  }
}

.#{$base_class}--horizontal.#{$base_class}--white {
  svg {
    fill: var(--colorWhite);
  }
}
