/* Component: Site header */

@use 'abstracts/mixins';

$base_class: 'c-site-header';

.#{$base_class} {
  margin-bottom: var(--space-32);
  border-bottom: 1px solid var(--color-neutral-200);

  &__wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--space-32);
    padding-block: var(--space-32);
  }
}

.#{$base_class}__secondary-navigation {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--space-16);
  padding-inline: var(--space-16);
  background-color: var(--color-pale-mint-500);
  border-bottom-right-radius: var(--radius-md);

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -60px;
    width: 60px;
    height: 52px;
    background-image: url('assets/navigation-background.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 60px 52px;
    background-color: transparent;
  }
}
