/* Component: Metadata */

@use 'abstracts/mixins';

$base_class: 'c-metadata';

.#{$base_class} {
  display: grid;
  grid-gap: var(--space-4) var(--space-16);
  grid-template-columns: max-content;
  font-size: var(--font-scale-12);
  // color: var(--color-neutral-700);

  dt {
    font-weight: var(--font-weight-medium);
  }

  dd {
    margin: 0;
    grid-column-start: 2;
  }
}
