/* Component: Link */

@use 'abstracts/mixins';

$base_class: 'c-link';

.#{$base_class} {
  color: var(--color-link);
  font-weight: var(--link-weight);
  text-decoration: underline;
  transition: color var(--transition-duration) var(--transition-timing);

  &:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
  }
}
