// Abstracts: Colors
// --------------------------------------------------

:root {
  --colorBlack: #292825;
  --colorWhite: #ffffff;

  // Primary
  --colorPrimary100: #fdfae3;
  --colorPrimary200: #fbefb8;
  --colorPrimary300: #f8e084;
  --colorPrimary400: #f5d24f;
  --colorPrimary500: #f1c418; // default
  --colorPrimary600: #dcb500;
  --colorPrimary700: #a58700;
  --colorPrimary800: #6e5900;
  --colorPrimary900: #4a3b00;

  // Secondary
  --colorSecondary100: #f8fcfa;
  --colorSecondary200: #eaf4ed;
  --colorSecondary300: #dbece0;
  --colorSecondary400: #cce2d2;
  --colorSecondary500: #bbd8c5; // default
  --colorSecondary600: #a8c5af;
  --colorSecondary700: #89a590;
  --colorSecondary800: #657f6a;
  --colorSecondary900: #4c5c52;

  // Tertiary
  --colorTertiary100: #fde8e3;
  --colorTertiary200: #f9d0bf;
  --colorTertiary300: #f4b89b;
  --colorTertiary400: #ef9f74;
  --colorTertiary500: #d2502e; // default
  --colorTertiary600: #b94626;
  --colorTertiary700: #933c1f;
  --colorTertiary800: #6d2d17;
  --colorTertiary900: #4a1d0f;

  // Blues
  --colorBlue100: #e0eaff;
  --colorBlue200: #b3ccff;
  --colorBlue300: #80aaff;
  --colorBlue400: #4d88ff;
  --colorBlue500: #1570ef; // default
  --colorBlue600: #0e5cd3;
  --colorBlue700: #0948b5;
  --colorBlue800: #073b99;
  --colorBlue900: #062f7a;

  // Neutrals
  --colorNeutral100: #f1f1f1;
  --colorNeutral200: #e6e6e5;
  --colorNeutral300: #d2d2d0;
  --colorNeutral400: #bdbdbb;
  --colorNeutral500: #9c9b97;
  --colorNeutral600: #7a7974;
  --colorNeutral700: #585651;
  --colorNeutral800: #3f3d39;
  --colorNeutral900: #292825;
}
