/* Component: Button */

@use 'abstracts/mixins';

$base_class: 'c-button';

// Local scope
.#{$base_class} {
  --font-size: var(--font-scale-16);
  --text-color: var(--color-neutral-100);
  --background-color: var(--color-neutral-800);
}

.#{$base_class} {
  display: inline-flex;
  flex-flow: row nowrap;
  gap: var(--space-8);
  align-items: center;
  justify-content: center;
  min-height: mixins.ptr(36);
  padding-inline: var(--space-16);
  padding-block: var(--space-8);
  font-size: var(--font-size);
  line-height: 1.2;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  border-radius: var(--radius-md);
  transition: background-color var(--transition-duration) var(--transition-timing);
  cursor: pointer;

  --color-icon: var(--text-color);

  &:hover {
    --background-color: var(--color-neutral-700);
    --text-color: var(--color-neutral-100);
  }
}

// Disabled state
.#{$base_class}[disabled] {
  &, &:hover {
    cursor: not-allowed;
    --text-color: var(--color-neutral-400);
    --background-color: var(--color-neutral-200);
  }
}

// Color
.#{$base_class} {
  &--primary {
    --text-color: var(--color-neutral-800);
    --background-color: var(--color-saffron-500);

    &:hover {
      --text-color: var(--color-neutral-800);
      --background-color: var(--color-saffron-400);
    }
  }

  &--secondary {
    --text-color: var(--color-neutral-800);
    --background-color: var(--color-pale-mint-500);

    &:hover {
      --text-color: var(--color-neutral-800);
      --background-color: var(--color-pale-mint-400);
    }
  }

  &--danger {
    --text-color: var(--color-red-100);
    --background-color: var(--color-red-500);

    &:hover {
      --text-color: var(--color-red-100);
      --background-color: var(--color-red-400);
    }
  }

  &--ghost {
    --text-color: var(--color-neutral-800);
    --background-color: var(--color-transparent);

    &:hover {
      --text-color: var(--color-neutral-800);
      --background-color: var(--color-neutral-100);
    }
  }
}

// Size
.#{$base_class} {
  &--small {
    padding-inline: var(--space-8);
    padding-block: var(--space-4);
    font-size: var(--font-scale-12);
    min-height: mixins.ptr(24);
    .c-icon {
      width: mixins.ptr(12);
      height: mixins.ptr(12);
    }
  }

  &--large {
    padding-inline: var(--space-16);
    padding-block: var(--space-8);
    font-size: var(--font-scale-18);
    min-height: mixins.ptr(36);
    .c-icon {
      width: mixins.ptr(18);
      height: mixins.ptr(18);
    }
  }
}

//Layout
.#{$base_class} {
  &--icon-label {
    flex-direction: row;
  }

  &--label-icon {
    flex-direction: row-reverse;
  }

  &--icon-only {
    span.#{$base_class}__label {
      display: none;
    }
  }

  &--label-only {
    span.c-icon {
      display: none;
    }
  }
}
