/* Component: Logo (Atom) */

@use 'abstracts/mixins';

.logo {
  display: inline-block;
  text-decoration: none;

  &__wrapper {
    display: block;
    width: 100%;
    height: auto;
    padding: 5%;
    border-radius: 100%;
    background-color: var(--color-primary);
  }

  svg {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    fill: var(--color-white);
  }

  &--small {
    width: mixins.ptr(40);
  }

  &--medium {
    width: mixins.ptr(80);
  }

  &--large {
    width: mixins.ptr(120);
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:focus-visible {
    outline: var(--outline);
  }
}
