/* Component: Logo (Atom) */

@use 'abstracts/mixins';

$base_class: 'c-logo';

.#{$base_class} {
  display: inline-block;
  text-decoration: none;

  &__wrapper {
    display: block;
    width: 100%;
    height: auto;
    padding: 5%;
    border-radius: 100%;
    background-color: var(--color-brand-primary);
  }

  svg {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    fill: var(--color-neutral-black);
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:focus-visible {
    outline: var(--outline);
  }
}

// Color
.#{$base_class} {
  &--primary {
    .#{$base_class}__wrapper {
      background-color: var(--color-brand-primary);
    }
    svg {
      fill: var(--color-neutral-black);
    }
  }

  &--secondary {
    .#{$base_class}__wrapper {
      background-color: var(--color-brand-secondary);
    }
    svg {
      fill: var(--color-neutral-black);
    }
  }

  &--black {
    .#{$base_class}__wrapper {
      background-color: var(--color-neutral-black);
    }

    svg {
      fill: var(--color-neutral-white);
    }
  }

  &--white {
    .#{$base_class}__wrapper {
      background-color: var(--color-neutral-white);
    }

    svg {
      fill: var(--color-neutral-black);
    }
  }
}

// Size
.#{$base_class} {
  &--small {
    width: mixins.ptr(60);
  }

  &--medium {
    width: mixins.ptr(80);
  }

  &--large {
    width: mixins.ptr(120);
  }
}

