/* Component: Pill */

@use 'abstracts/mixins';

.pill {
  display: inline-flex;
  align-items: center;
  gap: mixins.ptr(8);
  padding-block: mixins.ptr(4);
  padding-inline: mixins.ptr(8);
  font-size: mixins.ptr(13);
  line-height: 1;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 999px;

  .icon {
    flex-shrink: 0;
  }

  &__label {
    display: inline-block;
  }

  &--neutral {
    color: var(--color-neutral-900);
    background-color: var(--color-neutral-100);
    border-color: var(--color-neutral-200);
  }

  &--primary {
    color: var(--color-primary-900);
    background-color: var(--color-primary-100);
    border-color: var(--color-primary-200);
  }

  &--secondary {
    color: var(--color-secondary-900);
    background-color: var(--color-secondary-100);
    border-color: var(--color-secondary-200);
  }

  &--link {
    cursor: pointer;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-link-hover);
      border-color: var(--color-link-hover);
    }

    &:focus-visible {
      outline: var(--outline);
    }
  }
}
